@model IEnumerable<FinalProject.Models.Courses>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <section class="all-course section-padding30">
            <div class="container">
                <div class="row">
                    <div class="all-course-wrapper">
                        <div class="row mb-15">
                            <div class="col-lg-12">
                                <div class="properties__button mb-90">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="row">
                                                @if (Model != null && Model.Any())
                                                {
                                                    @foreach (var course in Model)
                                                    {
                                                        <div class="col-xl-4 col-lg-4 col-md-6 course-item" data-category="@course.Category?.ToLower() ?? " uncategorized"">
                                                            <div class="single-course mb-70">
                                                                <div class="course-img">
                                                                    <a href="@course.YouTubeLink" target="_blank">
                                                                        <img src="@course.ImageUrl" alt="@course.Title" class="img-fluid" />
                                                                    </a>
                                                                </div>
                                                                <div class="course-caption">
                                                                    <h4><a href="@course.YouTubeLink" target="_blank">@course.Title</a></h4>
                                                                    <p>Duration: @course.DurationInHours hours</p>
                                                                    <p>Number of Projects: @course.ProjectCount</p>
                                                                    <p>Average Rating: @course.AverageRating</p>
                                                                    <div class="course-actions">
                                                                        @if (User.IsInRole("Admin"))
                                                                        {
                                                                            <a class="btn btn-primary" href="@Url.Action("Edit", "Course", new { id = course.CourseId })">Update</a>
                                                                            <br />
                                                                            <br />
                                                                            <!-- Delete form with confirmation popup -->
                                                                            <form method="post" action="@Url.Action("Delete", "Course", new { id = course.CourseId })" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this course?');">
                                                                                @Html.AntiForgeryToken() <!-- CSRF Token -->
                                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                                            </form>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>No courses available.</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Button to create a new course -->
        <div class="container">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-success" href="@Url.Action("Create", "Course")">Create New Course</a>
            }
        </div>
    </main>

   
</body>
</html>




